.faq {
    &__title {
        font-size: 64px;
        line-height: 76.8px;
        font-family: 'Newake';
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }
}