@font-face {
    font-family: 'Newake';
    src: url('../fonts/NewakeFont-Demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  