.hero {
    position: relative;
    padding: 120px 0 219px;
    &__decorations {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    &__hand-right {
        background: url('../../images/hero/hand-right.png');
        width: 464px;
        height: 471px;
        position: absolute;
        top: -120px;
        right: 0;
        &::before {
            content: '';
            background: url('../../images/hero/flower.png') no-repeat;
            width: 110px;
            height: 123px;
            position: absolute;
            top: calc(50% - 20px);
            left: -75px;
            transform: translateY(-50%);
        }
    }
    &__hand-left {
        background: url('../../images/hero/hand-left.png');
        width: 397px;
        height: 450px;
        position: absolute;
        bottom: -100px;
        left: 0;
    }
    
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 25px;
        margin-bottom: 40px;
    }
    &__title {
        text-align: center;
        h1 {
            position: relative;
            display: inline-block;
            font-size: 260px;
            line-height: 260px;
            font-family: 'Newake', sans-serif;
            font-weight: 400;
            letter-spacing: -16px;
            text-transform: uppercase;
            background-image: url('/images/hero/bg-title.png');
            background-size: cover; 
            background-position: center;
            -webkit-background-clip: text;
            color: transparent;
            &::before {
                content: '';
                background: url('../../images/hero/moon.png') no-repeat;
                width: 142px;
                height: 148px;
                position: absolute;
                top: 132px;
                left: -191px;
            }
            &::after {
                content: '';
                background: url('../../images/hero/portal.png') no-repeat;
                width: 206px;
                height: 206px;
                position: absolute;
                bottom: -58px;
                right: -46px;
            }
        }
       
    }
    &__arrow-down {
        margin-top: 75px;
        animation: bounce 2s infinite;
        display: flex;
        justify-content: center;
    }

    @keyframes bounce {
       0%, 100%{
        transform: translateY(0);
       } 
       50% {
        transform: translateY(10%);
       }
    }
}